:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  
  flex-direction: column; /* Permite controlar cómo se distribuyen los hijos */
}

.card-text{
  color: black;
}

.card{
  margin: 0 !important;
}

.navbar{
  padding: 0 !important;
  height: 40px;
  width: 100vw;
}

.brand{
  margin-left: 10px;
}

.nav-links{
  margin-right: 20px;
}


/* ////////////////////////////////HOME//////////////////////////////////// */

.header{
  width: 100vw;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.footer{
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


